body{
    margin: 200px;
    background-color: rgb(255, 201,243);
}
h1{
    margin-bottom: 30px;
    text-decoration: underline;
}
.container{
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    max-width: 600px;
    margin:0  auto;
}
.counter-display{
    font-size: 72px;
    font-weight: bold;
    font-family: 'Tw Cen Mt';
}
.button{
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    background-color: #077bf0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    width: 80px;
    color: white;
}
#reset{
    background-color: red;
    margin-bottom: 20px;
}
#reset:hover{
    background-color: rgb(239, 68, 68);
}
.ans-btn{
    font-size: 24px;
}
.ans-btn:hover{
    background-color: #222bff;

}